			<footer>
				<!-- .subfooter start -->
				<div class="subfooter">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<p> ООО "ТДС Текстиль" © 2016-2017 г.<br> Копирование материалов строго запрещено!</p>
							</div>
							<div class="col-md-8">
								<nav class="navbar navbar-default" role="navigation">
									<!-- Toggle get grouped for better mobile display -->
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>   
									<div class="collapse navbar-collapse" id="navbar-collapse-2">
										<ul class="nav navbar-nav">
											<li><a href="index.html">Главная</a></li>
											<li><a href="company.html">О нас</a></li>
                      <li {% if page.menu == 'company' %} class='active' {% endif %} >
                        <a href="khlopchatobumagnue-tkani.html">Хлопчатобумажные ткани</a>
                      </li>       
                      <li {% if page.menu == 'company' %} class='active' {% endif %} >
                        <a href="steklotkani.html">Стеклоткани</a>
                      </li> 
                      <li {% if page.menu == 'company' %} class='active' {% endif %} >
                        <a href="netkanue-polotna.html">Нетканые полотна</a>
                      </li>   
                      <li {% if page.menu == 'company' %} class='active' {% endif %} >
                        <a href="vetosh.html">Ветошь</a>
                      </li>         
											<li><a href="contacts.html">Контакты</a></li>
										</ul>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<!-- /.subfooter end -->

			</footer>
			<!-- footer end -->
