<aside class="sidebar col-md-3">
  <div class="block clearfix">
    <h3>Меню</h3>
    <nav>
      <ul class="nav nav-pills nav-stacked ">
        <li {% if page.menu == 'index' %} class='active' {% endif %} >
          <a href="index.html">Главная</a>
        </li>
        <li {% if page.menu == 'company' %} class='active' {% endif %} >
          <a href="company.html">О компании</a>
        </li>
        <li class="divider-nav"></li>
       <li class="dropdown-header">Каталог</li>
        <li {% if page.menu == 'company' %} class='active' {% endif %} >
          <a href="company.html">Хлопчатобумажные ткани</a>
        </li>
        <li {% if page.menu == 'company' %} class='active' {% endif %} >
          <a href="company.html">Фильтровальные ткани</a>
        </li>        
        <li {% if page.menu == 'company' %} class='active' {% endif %} >
          <a href="company.html">Стеклоткани</a>
        </li> 
        <li {% if page.menu == 'company' %} class='active' {% endif %} >
          <a href="company.html">Полиамидные ткани</a>
        </li> 
        <li {% if page.menu == 'company' %} class='active' {% endif %} >
          <a href="company.html">Нетканые полотна</a>
        </li>   
        <li {% if page.menu == 'company' %} class='active' {% endif %} >
          <a href="company.html">Ветошь</a>
        </li>         
        <li class="divider-nav"></li>        
 
        <li {% if page.menu == 'dostavka' %} class='active' {% endif %} >
          <a href="dostavka.html">Доставка</a>
        </li>
        <li {% if page.menu == 'contacts' %} class='active' {% endif %} >
          <a href="contacts.html">Контакты</a>
        </li>
    </ul>
  </nav>
</div>
</aside>